body{
    background-color: beige;
}

.hello {
    color: cornflowerblue;
    transition: color .5s ease-in-out;
}
.mii{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active{
    color: red;
}